body {
    background: #f2f2f2;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.formulario input {
    width: 80%;
    margin: auto;
    font-size: 18px;
    border: none;
    margin-bottom: 60px;
    background-color: #fff;
    border-bottom: 1px solid #c2c2c2;
    color: rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    cursor: pointer;
}

.formulario .p1 {
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .7);
}

.formulario p {
    margin: auto;
    text-align: center;
    ;
    margin-bottom: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .7);
}

.formulario img {
    width: 40%;
    height: 8%;
    margin-bottom: 60px;
    margin-left: 50px;
}

.formulario input[type="submit"] {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: #8dc600;
    border-radius: 3px;
}

.log {
    display: flex;
}

.log a {
    position: relative;
    top: 26px;
    right: -140px;
    font-size: 18px;
    color: rgba(0, 0, 0, .3);
    text-decoration: none;
    cursor: pointer;
}